body {
	font-family: 'Open Sans', sans-serif !important;
}
/*=========HEADER=========*/
header {
	box-shadow: 0px 0px 5px black;
	margin-bottom: 2.406px;

	.navbar {
		box-shadow: 0px 0px 5px black;
	}

	.navbar-brand img {
		width: 150px;
		padding-left: 7.5px;
	}
}

.navbar-toggler {
    border: white !important;
}
/*=========SLIDER=========*/
.slider {
	.info {
		position: relative;
		top: 55px;
		margin-top: 20px;
	}

	h2 {
		color: #2c5485;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
	}
		
	h4 {
		text-align: center;
		color: #f1f2f5;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
	}
		
	span {
		font-size: 35px;
	}

	.slick-next {
		position: relative;
	}
	
	.slick-next:before, .slick-prev:before {
		color: transparent;
	}

	.slick-dots {
		bottom: 40px;
		
			li {
				button {
					background-image: url('../assets/icons/icon 1.png');
				}
	
				button:before {
					color: transparent;
				}
	
				button:hover {
					background-image: url('../assets/icons/icon1.png');
				}
		}
	
		.slick-active {
			button { 
				background-image: url('../assets/icons/icon1.png');
			}
	
			button:before {
				color: transparent !important;
			}
		}
	}
} 

/*=========ABOUT US=========*/
.aboutUs {
	color: #013e7d;

	h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
	}

	p {
		text-align: justify;
		font-size: 14px;
		margin: 0;
	}

	.about-box {
		margin-bottom: 40px;
	}

	ol {
		list-style: none;
		padding: 0;

		img {
			width: 14px;
		}

		span {
			padding-left: 5px;
			font-size: 14px;
		}
	}
	
	.image {
		margin: 30px auto;
	}

	.justify-content-center{
		margin-top: 50px;
	}
}
/*=========SERVICE=========*/
.service {
	h2 {
		color: #013e7d;
    font-size: 25px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.iso-box {
		background-image: url('../assets/images/fondo2.png');
		background-size: cover;
		background-position: center;
		height: 225px;
		color: white;
		cursor: pointer;
		transition: 1s;

		h3 {
			font-size: 30px;
			font-weight: bold;
		}

		p {
			font-size: 20px;
		}
	}

	.iso-box:hover {
		background-image: url('../assets/images/fondo1.png');
	}

	.iso-boxes {
		margin-bottom: 50px;
	}

	.slick-next {
		width: 60px;
		height: 60px;
		background-image: url('../assets/icons/arrow-r.png');
		background-repeat: no-repeat;
		right: -60px;
	}

	.slick-prev {
		width: 60px;
		height: 60px;
		background-image: url('../assets/icons/arrow-l.png');
		background-repeat: no-repeat;
		left: -60px;
	}

	.slick-next:before, .slick-prev:before{
		color: transparent;
	}

	.slick-slide {
		width: 228px;
	}

	.slider-customers {
		margin: 100px 0;
	}

	.slick-dots li {
		button:before {
			font-size: 2px;
		}
	}
}
/*=========HELP=========*/
.help {
	h2 {
		color: #013e7d;
		font-weight: bold;
		font-size: 30px;
	}
}
/*=========CONTACT=========*/

@media(max-width: 560px){
    .slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 467px !important;
    }
    .slide1 {
			background-image: url("../assets/images/slider11.jpg");
    }

    .slide2 {
			background-image: url("../assets/images/slider22.jpg");
    }

    .slide3 {
        background-image: url("../assets/images/slider33.jpg");
    }
}