body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	color: #333;
}
/*=========HEADER=========*/
header {
	box-shadow: 0px 0px 5px black;

	.nav-item {
		width: 25%;
	}
}

.navbar-toggler {
    border: white !important;
}

.icons-box {
	.icons {
		background-size: cover;
		width: 22px;
		height: 22px;
		display: inline-block;
		margin: 0 5px;
	}
	
	.ico1 {
		background-image: url('../assets/icons/icono1.png');
	}

	.ico1:hover {
		background-image: url('../assets/icons/1.png');
	}

	.ico2 {
		background-image: url('../assets/icons/icono2.png');
	}

	.ico2:hover {
		background-image: url('../assets/icons/2.png');
	}

	.ico3 {
		background-image: url('../assets/icons/icono3.png');
	}

	.ico3:hover {
		background-image: url('../assets/icons/3.png');
	}
}
/*=========SLIDER=========*/
.slider {
	.info {
		position: relative;
		top: 55px;
		margin-top: 20px;
	}

	h2 {
		color: #2c5485;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
	}
		
	h4 {
		color: #f1f2f5;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
		text-align: center;
	}
		
	span {
		font-size: 35px;
	}

	.slick-next {
		position: relative;
	}
	
	.slick-next:before, .slick-prev:before {
		color: transparent;
	}

	.slick-dots {
		bottom: 40px;
		
			li {
				button {
					background-image: url('../assets/icons/icon 1.png');
				}
	
				button:before {
					color: transparent;
				}
	
				button:hover {
					background-image: url('../assets/icons/icon1.png');
				}
		}
	
		.slick-active {
			button { 
				background-image: url('../assets/icons/icon1.png');
			}
	
			button:before {
				color: transparent !important;
			}
		}
	}
} 
	
.slide1 {
	background-image: url("../assets/images/slider11.jpg");
}

.slide2 {
	background-image: url("../assets/images/slider22.jpg");
}

.slide3 {
	background-image: url("../assets/images/slider33.jpg");
}
/*=========ABOUT US=========*/
.aboutUs {
	color: #013e7d;

	h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
	}

	p {
		text-align: justify;
		font-size: 14px;
		margin: 0;
	}

	.about-box {
		margin-bottom: 40px;
	}

	ol {
		list-style: none;
		padding: 0;

		img {
			width: 14px;
		}

		span {
			padding-left: 5px;
			font-size: 14px;
		}
	}
	
	.image {
		margin: 30px auto;
	}

	.justify-content-center{
		margin-top: 50px;
	}
}
/*=========SERVICE=========*/
.service {
	h2 {
		color: #013e7d;
    font-size: 25px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.iso-box {
		background-image: url('../assets/images/fondo2.png');
		background-size: cover;
		background-position: center;
		height: 225px;
		color: white;
		cursor: pointer;
		transition: 1s;

		h3 {
			font-size: 30px;
			font-weight: bold;
		}

		p {
			font-size: 20px;
		}
	}

	.iso-box {
		display: inline-block;
	}

	.iso-box:hover {
		background-image: url('../assets/images/fondo1.png');
	}

	.iso-boxes {
		margin-bottom: 40px;
	}

	.slick-next {
		width: 60px;
		height: 60px;
		background-image: url('../assets/icons/arrow-r.png');
		background-repeat: no-repeat;
		right: -60px;
	}

	.slick-prev {
		width: 60px;
		height: 60px;
		background-image: url('../assets/icons/arrow-l.png');
		background-repeat: no-repeat;
		left: -60px;
	}

	.slick-next:before, .slick-prev:before{
		color: transparent;
	}

	.slick-slide {
		width: 228px;
	}

	.slider-customers {
		margin: 80px 0;
	}

	.slick-dots li {
		button:before {
			font-size: 2px;
		}
	}
}
/*=========HELP=========*/
.help {
	div {
		margin: 40px 0;
		h2 {
			color: #013e7d;
			font-weight: bold;
			font-size: 30px;
		}
	}
}
/*=========CONTACT=========*/
.contact {
	 h2 {
		font-family: 'Montserrat Bold',sans-serif;
		color: #003786;
		font-size: 30px;
	}

	hr {
		width: 11%;
		height: 1px;
    background-color: #003786;
		margin-top: -6px;
		position: absolute;
		left: 1rem;
	}

	.contact-subtitle {
		color: #545454;
		font-family: 'Montserrat Bold',sans-serif;
		margin: 8px 0;
		font-size: 14px;
	}

	.contact-text {
		color: #979797;
		font-family: 'Montserrat Light',sans-serif;
		margin-top: 10px;
		font-size: 14px;
	}

	.date-contact {
		padding-top: 20px;
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 55px;
    border-bottom: 1px solid #979797;
	}

	.text-contact {
		padding-top: 25px;
    margin-top: 20px;
    padding-bottom: 25px;
		margin-bottom: 20px;
		box-sizing: border-box;
		
		p {
			color: #545454;
    	font-family: 'Montserrat Bold',sans-serif;
			text-align: center;
		}
	}

	.form-contact {
		margin-bottom: 30px;

		textarea {
			padding-bottom: 75px;
		}

		button {
			background-color: #003786;
			font-size: 14px;
			font-family: 'Montserrat Light',sans-serif;
			padding: 10px 60px 10px 60px;
			border: 0px;
			border-radius: 5px;
		}
	}
}
/*=========FOOTER=========*/
footer {
	background-color: #015486;
	padding-top: 25px;
	padding-bottom: 25px;

	p {
		font-size: 14px;
	}
}

@media(max-width: 560px){
	.navbar-brand img {
		width: 150px;
		padding-left: 7.5px;
	}

	.slide {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 467px !important;
	}

	.slider {
		margin-top: 75px;
	}
}

@media (min-width: 561px) {
	.navbar-brand img {
		width: 230px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 200px;
	}
	
	.slide {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 567px !important;
	}

	.slider {
		margin-top: 120px;

		h2 {
			text-align: left;
		}

		h4 {
			text-align: left;
		}
	}

	.aboutUs {
		p {
			font-size: 1rem;
		}

		ol {
			span {
				font-size: 1rem;
			}
		}

		.image {
			padding-right: 70px;
		}
	}
}